<div class = "ContenedorElementos-AcercaDe">
    <div class = "InfoUsuario-AcercaDe">
        <img class = "LogoUsuario-AcercaDe" src="../assets/ImagenUsuario.jpg" alt="">
        <h3 class = "NombreUsuario-AcercaDe">Mariano Marco</h3>
        <h3 class = "TituloUsuario-AcercaDe">Full Stack Developer Jr</h3>
    </div>
    
    <div class = "Informacion-AcercaDe">
        <h3 class = "TituloSeccion-AcercaDe">Acerca de mi</h3>
        <p class = "TextoSeccion-AcercaDe">Soy Mariano Marco, curso 5to año de Ingeniería en Electrónica en la UTN, y tengo un emprendimiento de diseño y fabricación de equipos eletrónicos, algunos propios y otros para terceros.</p>
    </div>
</div>
