<div class = "ContenedorElementos-AcercaDe">
    <div class = "InfoUsuario-AcercaDe">
        <a *ngIf="isAdmin" routerLink="/editPersona/1" class = "EditarImagen-AcercaDe"><i class="LogoEditar-AcercaDe fa-solid fa-pencil"></i></a>
        <a *ngIf="isAdmin" routerLink="/editPersona/1" class = "EditarInfo-AcercaDe"><i class="LogoEditar-AcercaDe fa-solid fa-pencil"></i></a>
        <img class = "LogoUsuario-AcercaDe" src="{{persona.imagen}}" alt="">
        <h3 class = "NombreUsuario-AcercaDe">{{persona.nombre}} {{persona.apellido}}</h3>
        <h3 class = "TituloUsuario-AcercaDe">Full Stack Developer Jr</h3>
    </div>
    
    <div class = "Informacion-AcercaDe">
        <a *ngIf="isAdmin" routerLink="/editPersona/1" class = "Editar-AcercaDe"><i class="LogoEditar-AcercaDe fa-solid fa-pencil"></i></a>
        <h3 class = "TituloSeccion-AcercaDe">Acerca de mi</h3>
        <p class = "TextoSeccion-AcercaDe">{{persona.descripcion}}</p>
    </div>
</div>
