<div class = "ContenedorTotal-Skills">
    <div class = "ContenedorElementos-Skills">
        <h3>Habilidades</h3>
        <div class = "ContendorGraficos-Skills" [ngSwitch] = "currentBreakpoint">
            <div class = "ContenedorCircles-skills"  *ngSwitchCase="'1200px'">
                <div class = "Circle-Skills">
                    <h3>TituloCircle</h3>
                    <circle-progress
                        [percent]="85"
                        [radius]="80"
                        [outerStrokeWidth]="8"
                        [innerStrokeWidth]="4"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle]="false"
                        [titleFontSize]="'22'"
                    ></circle-progress>
                </div>
                <div class = "Circle-Skills">
                    <h3>TituloCircle</h3>
                    <circle-progress
                        [percent]="85"
                        [radius]="80"
                        [outerStrokeWidth]="8"
                        [innerStrokeWidth]="4"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle]="false"
                        [titleFontSize]="'22'"
                    ></circle-progress>
                </div>
                <div class = "Circle-Skills">
                    <h3>TituloCircle</h3>
                    <circle-progress
                        [percent]="85"
                        [radius]="80"
                        [outerStrokeWidth]="8"
                        [innerStrokeWidth]="4"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle]="false"
                        [titleFontSize]="'22'"
                    ></circle-progress>
                </div>
                <div class = "Circle-Skills">
                    <h3>TituloCircle</h3>
                    <circle-progress
                        [percent]="85"
                        [radius]="80"
                        [outerStrokeWidth]="8"
                        [innerStrokeWidth]="4"
                        [outerStrokeColor]="'#78C000'"
                        [innerStrokeColor]="'#C7E596'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle]="false"
                        [titleFontSize]="'22'"
                    ></circle-progress>
                </div>
            </div>
        </div>
    </div>
</div>
