<div class = "ContenedorElementos-Header">
    <div class = "ContenedorOganizador-Header">
        <div class = "ContenedorLogo-Header">
            <a href=""><img class = "Logo-Header" src="../assets/APLogo.png" alt=""></a>
            <h3 class = "TextoLogo-Header">#Yo programo</h3>
        </div>
    
        <div class = "Navegador-Header">
            <div class = "RedesSociales-Header">
                <i class="LogoRed-Header fa-brands fa-instagram"></i>
                <i class="LogoRed-Header fa-brands fa-facebook"></i>
                <i class="LogoRed-Header fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>
</div>

<div class = "ContenedorTotal-Login">
    <div class = "SeccionTitulo-Login">
        <i class="LogoTitulo-Login fa-solid fa-right-to-bracket"></i>
        <h3 class = "Titulo-Login">Login</h3>
    </div>
    <div class = "ContenedorComponentes-Login">
        <i class="Logo-Login fa-solid fa-user"></i>
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class = "Form-Login">
            <div class = "ContenedorError" *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">
                <h3 *ngIf="NombreUsuario?.hasError('required')" class = "TextoError">*Este campo es obligatorio</h3>
            </div>
            <input class = "Input-Login" formControlName="nombreUsuario" type="text" name="" id="" placeholder = "Usuario">
            <div class = "ContenedorError" *ngIf="Password?.errors && Password?.touched">
                <h3 *ngIf="Password?.hasError('required')" class = "TextoError">*Este campo es obligatorio</h3>
            </div>
            <input class = "Input-Login" formControlName="password" type="password" placeholder = "Contraseña">
            
            <button type="submit" class = "Button-Login">Ingresar</button>
        </form>
    </div>
</div>

<app-footer></app-footer>
