<div class = "ContenedorTotal-Proyectos">
    <div class = "ContendorElementos-Proyectos">
        <h3 class = "TituloSeccion-Proyectos">Proyectos</h3>
        <div class = "Item-Proyectos">
            <a *ngIf="isAdmin" href="#" class = "Editar-Proyectos"><i class="LogoEditar-Proyectos fa-solid fa-pencil"></i></a>
            <a *ngIf="isAdmin" href="#" class = "Eliminar-Proyectos"><i class="LogoEliminar-Proyectos fa-solid fa-trash"></i></a>
            <h3 class = "TituloItem-Proyectos">TTAiData01</h3>
            <div class = "ContenedorImagenItem-Proyectos">
                <img class = "ImagenItem-Proyectos" src="../assets/ImagenProyectos.jpg" alt="">
            </div>
            <p class = "DescripcionItem-Proyectos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus repudiandae ut tempore inventore, maiores quibusdam harum obcaecati earum, ullam fuga quaerat possimus. Cumque molestias aut praesentium consectetur quam dolor nobis!</p>
        </div>
        <div class = "Item-Proyectos">
            <a *ngIf="isAdmin" href="#" class = "Editar-Proyectos"><i class="LogoEditar-Proyectos fa-solid fa-pencil"></i></a>
            <a *ngIf="isAdmin" href="#" class = "Eliminar-Proyectos"><i class="LogoEliminar-Proyectos fa-solid fa-trash"></i></a>
            <h3 class = "TituloItem-Proyectos">Fresadora</h3>
            <div class = "ContenedorImagenItem-Proyectos">
                <img class = "ImagenItem-Proyectos" src="../assets/ImagenProyectos.jpg" alt="">
            </div>
            <p class = "DescripcionItem-Proyectos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus repudiandae ut tempore inventore, maiores quibusdam harum obcaecati earum, ullam fuga quaerat possimus. Cumque molestias aut praesentium consectetur quam dolor nobis!</p>
        </div>
        <div class = "Item-Proyectos">
            <a *ngIf="isAdmin" href="#" class = "Editar-Proyectos"><i class="LogoEditar-Proyectos fa-solid fa-pencil"></i></a>
            <a *ngIf="isAdmin" href="#" class = "Eliminar-Proyectos"><i class="LogoEliminar-Proyectos fa-solid fa-trash"></i></a>
            <h3 class = "TituloItem-Proyectos">Pick and Place</h3>
            <div class = "ContenedorImagenItem-Proyectos">
                <img class = "ImagenItem-Proyectos" src="../assets/ImagenProyectos.jpg" alt="">
            </div>
            <p class = "DescripcionItem-Proyectos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus repudiandae ut tempore inventore, maiores quibusdam harum obcaecati earum, ullam fuga quaerat possimus. Cumque molestias aut praesentium consectetur quam dolor nobis!</p>
        </div>
        <div class = "UltimoItem-Proyectos">
            <a *ngIf="isAdmin" href="#" class = "Editar-Proyectos"><i class="LogoEditar-Proyectos fa-solid fa-pencil"></i></a>
            <a *ngIf="isAdmin" href="#" class = "Eliminar-Proyectos"><i class="LogoEliminar-Proyectos fa-solid fa-trash"></i></a>
            <h3 class = "TituloItem-Proyectos">Portfolio</h3>
            <div class = "ContenedorImagenItem-Proyectos">
                <img class = "ImagenItem-Proyectos" src="../assets/ImagenProyectos.jpg" alt="">
            </div>
            <p class = "DescripcionItem-Proyectos">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus repudiandae ut tempore inventore, maiores quibusdam harum obcaecati earum, ullam fuga quaerat possimus. Cumque molestias aut praesentium consectetur quam dolor nobis!</p>
        </div>
    </div>
</div>