<div class = "ContenedorTotal-Proyectos">
    <div class = "ContendorElementos-Proyectos">
        <h3 class = "TituloSeccion-Proyectos">Proyectos</h3>
        <div class = "ContenedorFor-Proyectos" *ngFor="let proyecto of proyecto">
            <div class = "Item-Proyectos">
                <a *ngIf="isAdmin" routerLink="/editProyecto/{{proyecto.id}}" class = "Editar-Proyectos"><i class="LogoEditar-Proyectos fa-solid fa-pencil"></i></a>
                <a *ngIf="isAdmin" (click)="delete(proyecto.id)" class = "Eliminar-Proyectos"><i class="LogoEliminar-Proyectos fa-solid fa-trash"></i></a>
                <h3 class = "TituloItem-Proyectos">{{proyecto.nombre}}</h3>
                <div class = ContenedorImagenDescripcion-Proyectos>
                    <div class = "ContenedorImagenItem-Proyectos">
                        <img class = "ImagenItem-Proyectos" src="{{proyecto.imagen}}" alt="">
                    </div>
                    <p class = "DescripcionItem-Proyectos">{{proyecto.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>