<div class = "ContenedorTotal-Educacion">
    <div class = "ContenedorElementos-Educacion">
        <div class = "ContenedorTitulo-Educacion">
            <h3 class = Titulo-Educacion>Educacion</h3>
        </div>
        <div class = "ContenedorFor" *ngFor="let educacion of educacion">
            <div class = "Tarjeta-Educacion">
                <a *ngIf="isAdmin" routerLink="/editEducacion/{{educacion.id}}" class = "Editar-Educacion"><i class="LogoEditar-Educacion fa-solid fa-pencil"></i></a>
                <a *ngIf="isAdmin" (click)="delete(educacion.id)" class = "Eliminar-Educacion"><i class="LogoEliminar-Educacion fa-solid fa-trash"></i></a>
                <div class = "ContenedorImagen-Educacion">
                    <img class = "ImagenEmpresa-Educacion" src="{{educacion.imagen}}" alt="">
                </div>
                <div class = "InfoTarjeta-Educacion">
                    <h3 class = "TituloTarjeta-Educacion">{{educacion.nombre}}</h3>
                    <p class = "TextoTarjeta-Educacion">{{educacion.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
