<div class = "ContenedorTotal-Educacion">
    <div class = "ContenedorElementos-Educacion">
        <h3 class = Titulo-Educacion>Educacion</h3>
        <div class = "Tarjeta-Educacion">
            <div class = "ContenedorImagen-Educacion">
                <img class = "ImagenEmpresa-Educacion" src="../../../assets/LogoEEST8.jpg" alt="">
            </div>
            <div class = "InfoTarjeta-Educacion">
                <h3 class = "TituloTarjeta-Educacion">E.E.S.T N°8</h3>
                <p class = "TextoTarjeta-Educacion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora qui mollitia voluptas, possimus consectetur tempore esse inventore eum obcaecati ducimus expedita neque harum aut sequi hic quibusdam alias officiis. Fuga.</p>
            </div>
        </div>
        <div class = "Tarjeta-Educacion">
            <div class = "ContenedorImagen-Educacion">
                <img class = "ImagenEmpresa-Educacion" src="../../../assets/LogoUTN.jpg" alt="">
            </div>
            <div class = "InfoTarjeta-Educacion">
                <h3 class = "TituloTarjeta-Educacion">UTN Haedo</h3>
                <p class = "TextoTarjeta-Educacion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora qui mollitia voluptas, possimus consectetur tempore esse inventore eum obcaecati ducimus expedita neque harum aut sequi hic quibusdam alias officiis. Fuga.</p>
            </div>
        </div>
        <div class = "Tarjeta-Educacion">
            <div class = "ContenedorImagen-Educacion">
                <img class = "ImagenEmpresa-Educacion" src="../../../assets/LogoElectroComponentes.jpg" alt="">
            </div>
            <div class = "InfoTarjeta-Educacion">
                <h3 class = "TituloTarjeta-Educacion">Electrocomponentes</h3>
                <p class = "TextoTarjeta-Educacion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora qui mollitia voluptas, possimus consectetur tempore esse inventore eum obcaecati ducimus expedita neque harum aut sequi hic quibusdam alias officiis. Fuga.</p>
            </div>
        </div>
        <div class = "TarjetaUltima-Educacion">
            <div class = "ContenedorImagen-Educacion">
                <img class = "ImagenEmpresa-Educacion" src="../../../assets/LogoDigitalHouse.png" alt="">
            </div>
            <div class = "InfoTarjeta-Educacion">
                <h3 class = "TituloTarjeta-Educacion">Digital House</h3>
                <p class = "TextoTarjeta-Educacion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora qui mollitia voluptas, possimus consectetur tempore esse inventore eum obcaecati ducimus expedita neque harum aut sequi hic quibusdam alias officiis. Fuga.</p>
            </div>
        </div>
    </div>
</div>
