@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ContenedorElementos-Header {
    width: 100%;
    background-color: black;
}

.ContenedorOganizador-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 340px;
    margin: auto;
    padding: 10px;
}

.ContenedorLogo-Header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Logo-Header {
    color: white;
    width: 80px;
    height: 30px;
}

.TextoLogo-Header {
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.Navegador-Header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.RedesSociales-Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.LogoRed-Header {
    color: white;
    font-size: 20px;
    padding: 5px;
}

.EnlaceLogin-Header {
    color: white;
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
}

.ContenedorFondo-Header {
    max-width: 340px;
    margin: auto;
    padding-top: 10px;
    position: relative;
}

.ImagenFondo-Header {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.Editar-Header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 5;
    border: none;
}


.LogoEditar-Header {
    font-size: 14px;
    color: #636363;
}

@media (min-width: 460px) {
    
    .ContenedorOganizador-Header {
        max-width: 440px;
    }

    .ContenedorFondo-Header {
        max-width: 440px;
    }

    .ImagenFondo-Header {
        height: 250px;
    }
}

@media (min-width: 768px) {
    
    .ContenedorOganizador-Header {
        max-width: 740px;
    }

    .ContenedorLogo-Header {
        flex-direction: row;
    }

    .Logo-Header {
        width: 120px;
        height: 40px;
    }

    .TextoLogo-Header {
        margin-top: 0px;
        margin-left: 20px;
        font-size: 16px;
    }

    .Navegador-Header {
        flex-direction: row;
    }

    .LogoRed-Header {
        color: white;
        font-size: 22px;
        padding: 10px;
    }

    .EnlaceLogin-Header {
        margin-left: 20px;
        font-size: 18px;
    }

    .ContenedorFondo-Header {
        max-width: 740px;
    }

    .ImagenFondo-Header {
        height: 350px;
    }

    .LogoEditar-Header {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    .ContenedorOganizador-Header {
        max-width: 940px;
    }

    .ContenedorFondo-Header {
        max-width: 940px;
    }

    .ImagenFondo-Header {
        height: 420px;
    }
}

@media (min-width: 1200px) {
    .ContenedorOganizador-Header {
        max-width: 1140px;
    }

    .ContenedorFondo-Header {
        max-width: 1140px;
    }

    .ImagenFondo-Header {
        height: 420px;
    }
}